<!-- Jumbotron Header -->
<header class="jumbotron">
    <h1>Academy Store</h1>
    <p>Aqui você pode adiquirir livros exclusivos baseados nos melhores cursos de tecnologia existentes no mercado!</p>
    <p><button class="btn btn-primary btn-large">Saiba mais</button></p>
</header>
<hr>
<!-- Título -->
<div class="row">
    <div class="col-md-12">
        <h2>Produtos Disponíveis</h2>
    </div>
</div>
<!-- Produtos -->
<div class="row text-center">
    <div class="col-md-3" ng-repeat="produto in produtos | limitTo: 4">
        <div class="thumbnail">
            <img src="{{produto.imagem}}">
            <div class="caption">
                <h3>{{produto.nome}}</h3>
                <p>{{produto.descricao}}</p>
                <p>
                    <button type="button" ng-click="controller.detalhar(produto._id)" class="btn btn-primary">
                        Ver Detalhes
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Fim: Produtos -->